<!DOCTYPE html>
<html lang="en">
    <head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
		<title>SynopCine</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&family=Poppins:wght@400;700&display=swap"
		rel="stylesheet">
		<link rel="stylesheet" href="./styles/index.css">
        <link rel="stylesheet" href="history.css">
	</head>
<body>
    <header>
        <img src="./images/logo-movie.png" alt="MoviePitch">
			<a href="/"><span>Synop</span>Cine</a>
    </header>
    <main>
        <section id="setup-container">
            <a href="/"><span>Synop</span>Cine</a>
            <div id="movie-container">
                <% if(locals.titles&&Array.isArray(titles)){%>
                    <%titles.forEach(title => {%>
                        <div class="movie"><a href="/history/<%=title._id%>"><%= title.title %></a></div>
                    <%});%>
                    <a href="/" id="history-btn" class="history-back-btn">Back</a>
                <%}%>
                
            </div>
        </section>
    </main>
    <footer>
        &copy; 2024 SynopCine All rights reserved
    </footer>
    <script type="module" src="./scripts/script.js"></script> 
</body>
</html>